<header class="bar-header">
    <h1 class="logo">
        <a href="/">
            {% include svg-logo.html %}
        </a>
    </h1>
</header>
{% include menu-search.html %}

<header class="header-home" role="banner">
    <div class="content">
        <h2>
            Arquitetura<br>
            Desenvolvimento<br>
            Melhores práticas<br>
            Git<br>
            DevOps
        </h2>
        <p>
            E tudo o que há de mais relevante no mundo do desenvolvimento. Curtiu? Então bora!
        </p>
    </div>
</header>
